html {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    color: #414141;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 0.8em;
    line-height: 1.6;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

.mouse {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    width: 100px;
    /* JSのsizeと合わせる */
    height: 100px;
    border-radius: 50% 46% 48% 44%;
    /* シャボン玉ぽさ */
    background: radial-gradient(at 46% 54%,
            transparent 50%,
            rgba(2, 172, 253, 0.3) 70%,
            transparent 100%) 50% 50% no-repeat;
    overflow: hidden;
    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.mouse::before {
    content: "";
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 60%;
    height: 60%;
    border-radius: 60% 0;
    background: radial-gradient(at 0 0,
            rgba(0, 130, 255, 0.3) 40%,
            rgba(255, 154, 204, 0.7) 50%);
    filter: blur(15px);
}

.mouse::after {
    content: "";
    position: absolute;
    left: -10%;
    top: -10%;
    width: 60%;
    height: 60%;
    border-radius: 20% 0;
    background: radial-gradient(at 100% 100%,
            rgba(255, 255, 100, 0.5) 40%,
            rgba(120, 255, 140, 0.7) 60%);
    filter: blur(15px);
}


ul {
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

li {
    width: fit-content;
    list-style: none;
}

a {
    text-decoration: none;
    color: #341911;
    transition: 0.7s all;
}

img {
    vertical-align: bottom;
}

.max-img {
    display: block;
    width: 100%;
    height: auto;
}

.middle-img {
    display: none;
}

.min-img {
    display: none;
}

a:hover {
    opacity: 0.5;

}

section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.header-logo {
    width: auto;
    height: 150px;
    margin-left: 2vw;
    position: fixed;
    z-index: 101;
}

#hamburger-nav {
    width: 100%;
    height: 70vh;
    padding-top: 100px;
    top: -100vh;
    right: 0;
    z-index: 100;
    font-size: 1.2em;
    transition: 1s all ease;
    background-color: #ffffffe5;
    overflow: hidden;
    position: fixed;
}

#hamburger-nav.open {
    top: 0;
}

#toggle_btn {
    width: 2.5em;
    height: 3em;
    text-align: center;
    position: fixed;
    top: 70px;
    right: 3.5vw;
    z-index: 101;
    cursor: pointer;
}

#toggle_btn div {
    transition: 1.3s all;
    width: 100%;
    height: 2px;
    background-color: #341911;
}

#toggle_btn div:nth-child(1) {
    margin-bottom: 7px;

}

#toggle_btn div:nth-child(3) {
    margin-top: 7px;

}

#toggle_btn.on div:nth-child(1) {
    transform: rotate(215deg);
    position: relative;
    top: 9px;
}

#toggle_btn.on div:nth-child(3) {
    transform: rotate(-215deg);
    position: relative;
    top: -9px;
}

#toggle_btn.on div:nth-child(2) {
    opacity: 0;
}

#hamburger-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.line-link {
    opacity: 0;
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 100;
    transform: translateY(-20px);
    transition: 1s ease-out all;
}

.line-link.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.line-link a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 1.1em;
    background-color: #ffffffe5;
    color: #341911;
    border: #341911 1px solid;
    text-align: center;
    transition: 1s all ease;
}

.line-link a:hover {
    scale: 1.1;
    background-color: #341911;
    color: #fff;
    opacity: 1;
}

.section-img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #EFF0F4;
    text-align: center;
}

.footer-container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 10vw;
    height: auto;
    margin-bottom: 20px;

}

.footer-nav ul {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.footer-nav .sns {
    font-size: 1.5em;
}

.arr {
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    font-size: 0.7em;
}

@media screen and (max-width: 1200px) {
    .max-img {
        display: none;
    }

    .middle-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .min-img {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    .max-img {
        display: none;
    }

    .middle-img {
        display: none;
    }

    .min-img {
        display: block;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 645px) {

    .header-logo {
        width: auto;
        height: 100px;
        margin-top: 25px;
        margin-left: 2vw;
    }

    #hamburger-nav {
        width: 100%;
        height: 70vh;
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 1em;
    }


        .line-link {
            bottom: 100px;
            right: 0;
            z-index: 100;
            transform: translateX(20px);
            transition: 1s ease-out all;
        }

        .line-link.fade-in {
            opacity: 1;
            transform: translateX(2px);
        }

        .line-link a {
            width: 50px;
            height: 140px;
            font-size: 0.9em;
            padding-right: 13px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            text-orientation: upright;
            writing-mode: vertical-rl;
        }

        /* .line-link a {
    display: block;
} */

        .line-link a:hover {
            scale: 1.1;
            background-color: #341911;
            color: #fff;
            opacity: 1;
        }

        .footer-logo {
            width: 30vw;
            height: auto;
            margin-bottom: 20px;
        }


    }
